<h1>Stories</h1>
<div class="row">
    {{#each rooms}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                
            </div>
            <div class="card-content center-align">
                <h5>{{name}}</h5>
                <p>{{stripTags (truncate description 150)}}</p>
                <br>
                <div class="chip">
                    <img src="{{owner.image}}" alt="">
                    <a href="/user/details/{{owner._id}}">{{owner.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/rooms/joinRoom/{{_id}}" class="btn green">Join</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No rooms to display</p>
    {{/each}}
</div>